.cardList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: auto;
    text-align: center;
}

.cardWrapper {
    width: 70%;
    opacity: 0;
    animation: enter 1s forwards;
    display: block;
    position: relative; 
}

.fromLeft {
    animation-name: enterFromLeft;
    direction: ltr;
}

.fromRight {
    animation-name: enterFromRight;
    direction: rtl;
}

.cardWrapper:nth-child(odd) {
    transform: translateX(-10px); 
}

.cardWrapper:nth-child(even) {
    transform: translateX(10px); 
}

@keyframes enterFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes enterFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.paginationControls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 1rem; 
    margin: 10px 0;
}

.pageNumbers {
    display: flex;
    gap: 0.5rem;
}

.pageNumbers button {
    padding: 0.5rem 1rem;
    background-color: var(--button-color);
    color: var(--text-color);
    cursor: pointer;
    border-radius: 50%;
    font-size: 1rem; 
}

.pageNumbers button.activePage {
    background-color: var(--border-color);
    color: var(--text-color);
}

.pageNumbers button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pageButtons {
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .cardWrapper {
        width: 90%; 
    }
    .cardWrapper:nth-child(odd) {
        transform: translateX(0);
    }
    .cardWrapper:nth-child(even) {
        transform: translateX(0); 
    }
    .paginationControls {
        flex-direction: column; 
    }
    .pageNumbers {
        flex-wrap: wrap; 
    }
}
