.footer {
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 2px 0; 
  font-weight: bolder;
  font-size: 0.9rem; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
  height: fit-content;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}